.label {
  text-align: start;
  font-size: 0.9rem;

  .select {
    width: 100%;
    padding: 5px;
    font-size: 0.8rem;
    resize: none;
    box-sizing: border-box;

    &:disabled {
      border: none;
      color: $more-dark;
      font-size: 0.9rem;
      background-color: $more-light;
      appearance: none;
    }
  }
}
