.wrap {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include background($more-light);

  .signBtns {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;

    > span {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    > button {
      margin-left: 15px;
      padding: 10px;
      cursor: pointer;
      @include boxShadow('none');
    }

    > button:hover {
      @include boxShadow(4px 4px 2px 1px rgba(0, 0, 0, 0.2));
    }
  }

  > h1 {
    margin: 25px 0 60px 0;
    text-align: center;
    word-break: break-word;
  }

  .conditionDiv {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > label {
      width: 15%;
      text-align: start;
      font-size: 0.9rem;

      > input {
        width: 100%;
        padding: 5px;
        font-size: 0.8rem;
        resize: none;
        box-sizing: border-box;
      }
    }

    > button {
      width: 15%;
      align-self: normal;
      box-sizing: border-box;
      color: $most-dark;
      font-weight: bold;
      background: $most-light;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      @include boxShadow('none');
    }

    > button:hover {
      @include boxShadow(4px 4px 2px 1px rgba(0, 0, 0, 0.2));
    }

    &.signOutCondition {
      justify-content: space-around;

      > label {
        width: 25%;
      }
    }
  }

  .innerWrap {
    position: relative;
    padding: 5% 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row;
    flex-wrap: wrap;
  }
}

@include mobile {
  .wrap {
    padding-top: 100px;

    .conditionDiv {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between !important;

      > label {
        width: 45% !important;
        margin-bottom: 10px;
      }

      > button {
        width: 100%;
        padding: 3% 0;
        height: auto;
        margin-top: 10px;
      }
    }

    .innerWrap {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}
